faiss-cpu==1.8.0
google-generativeai==0.3.1
langchain==0.0.351
langchain-community==0.0.4
langchain-core==0.1.37
langchain-google-genai==0.0.9
langchain-openai==0.1.1
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.32.1
streamlit-chat==0.1.1
